
<div class="modal-content" style="background-color: {{note.color}}">
	<div class="modal-body">
		<div class="card-block">
		<div ng-if="note.image"><img ng-src="{{note.image}}" height="90%" width="100%">
		<a class="btn-floating blue pull-right" ng-click="removeImage(note)"><img id="del-img" ng-src="images/delete.png" height="20px" width="20px"></a>
		
		</div>
					
					</div>
			<b><div id="note-title" contenteditable="true"
					ng-model="note.title"></div></b>
					<div class="pull-right " width="30" height="10"
				title="Created:{{note.createDate|date:'MMM dd'}}"> Edited:
				{{note.lastUpdated|date:'MMM dd'}}</div>
			<div id="note-body" contenteditable="true" ng-model="note.body">
			</div>
		
		</div>
		<div class="note-icons card-margin">
	           <reminder-option ></reminder-option>
				<img ng-src="images/collaborator.svg"ng-click="openCollboarate(note,user,$index)" ng-init="getOwner(note)">
				<color-pallet></color-pallet>
				<img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
				<img ng-src="images/archive.svg" ng-click="doArchived(note,true,false)"> 
				
			<div role="button" ng-click="updateNote(note)"
				class="btn btn-done pull-right inline" data-dismiss="modal">DONE</div>
		</div>




	</div>
</div>