<div class="Container">
<div class="row">
		<div class="col-sm-12">
			<h3>Enter email</h3>

		</div>
		<form>
	<div class="form-group">
		
					<font color="red"><p ng-bind="error"></p></font>
				</div>
				<label for="email">Email:</label> <input class="form-control"
					id="inputField" type="email" ng-model="user.email" name="email"
					Placeholder="Enter email" required>
			</div>
			<br>
			<div class="btn-center">
			<div class="col-sm-4">
				<button type="submit" class="btn btn-success" ng-click="forgetPassword()">Submit</button>
			</div>
		
		</div>
		</form>
</div>