<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>

<div id="main" style="margin-left: {{mleft}}" >

	<div class="row">
		<div class="col-lg-3 col-md-3" ></div>
			<div id="note" ng-click="show()" ng-blur="hide()"
				class=" col-sm-10 col-md-6 col-xs-10 col-lg-4">
				<b><div contenteditable="true" ng-model="newNote.title"
						data-text="Title" id="note-title" ng-show="newnote">
					</div>
				</b>
							
				<div contenteditable="true" data-text="Take a note"
					ng-model="newNote.body" id="note-body">
				</div>
				<div class="note-icons" ng-show="newnote">
                        <reminder-option></reminder-option>
						<img ng-src="images/collaborator.svg" ng-click="openCollboarate(note,user,$index)" ng-init="getOwner(note)">
						<color-pallet></color-pallet>
						<img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
						<img ng-src="images/archive.svg" ng-click="doArchived(note,true,false)"> 

					<div role="button" ng-click="createNote()"
						class="btn btn-done pull-right">DONE</div>
				</div>
			</div>
		</div>
	
	
	<!-- ================================================================================== -->
		<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1"></div>
		
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10  pinned">
		<h4 ng-show="pinnedNotes.length">Pinned:</h4>
			<div ng-repeat="note in notes | filter : {trashed : false,pinned:true,archived:false} as pinnedNotes" id="note-scope"
				class="{{viewcol}} pin">

				<div class="card" class="col-sm-12 col-xs-12" style="background-color: {{note.color}}">
				<img class="pinicon" src="images/pinned.svg" ng-click="pinned(note,false)" width="22" height="22">
			<div class="card-block" ng-click="showModal(note)">
					
				<div ng-if="note.image"><img ng-src="{{note.image}}" height="100%" width="100%"></div>
						<b><div class="card-title" ng-bind-html="note.title"></div></b>
						<div class="card-text" ng-bind-html="note.body | parseUrlFilter"></div>
					</div>
					<div class="note-icons">
						<reminder-option></reminder-option>
						<img ng-src="images/collaborator.svg" ng-click="openCollboarate(note,user,$index)" ng-init="getOwner(note)">
						<color-pallet></color-pallet>
						<img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
						<img ng-src="images/archive.svg" ng-click="doArchived(note,true,false)"> 
						<more-options></more-options>
						
					</div>


				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>
	
	<!-- ================================================================================== -->
	
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
		<div class="col-md-11 col-sm-12 col-xs-12 col-lg-11">
		<h4 ng-show="pinnedNotes.length">Others:</h4>
			<div ng-repeat="note in notes | filter : {trashed : false ,pinned:false,archived:false}" id="note-scope"
				class="{{viewcol}}">
				
				<div class="card" style="background-color: {{note.color}}">
				<img class="pinicon" src="images/unpinned.svg"  ng-click="pinned(note,true)" width="22" height="22">
					<div class="card-block" ng-click="showModal(note)">
					
				<div ng-if="note.image"><img ng-src="{{note.image}}" height="100%" width="100%"></div>
						<b><div class="card-title" ng-bind-html="note.title"></div></b>
						<div class="card-text" ng-bind-html="note.body | parseUrlFilter"></div>
					</div>
					<div class="row card-margin">
					<div class="col-sm-12 labelbox">
					<div id="reminder" ng-if="note.reminderStatus!=null">
					{{note.reminderStatus}}<span class="closebtn" ng-click="removeReminder(note)">&#x274C;</span>
					 
					</div>  
					<div ng-repeat="label in note.labels">
						<div id="reminder" ng-if="label.labelName!=null">
					{{label.labelName}}<span class="closebtn" ng-click="toggleLabelOfNote(note,label)">&#x274C;</span>
					 </div>
					</div>  
					</div>
					</div>
					<div class="row card-margin" ng-init="getUserlist(note,user,$index)">
						<div ng-repeat="noteUser in note.collabratorUsers">
								<div class="col-sm-1">
									<img ng-src="{{noteUser.profileUrl}}" title="{{noteUser.email}}" ng-click="openCollboarate(note,user)" class="img-circle" height="25" width="25"/>
								</div>
							</div>
						</div>

		<input ng-show="false" id="image" type='file' ng-model-instant 
		ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />					
			<div class="note-icons card-margin">			
				<reminder-option  class="icons-margin"></reminder-option>
				<img ng-src="images/collaborator.svg" ng-click="openCollboarate(note,user,$index)" ng-init="getOwner(note)" class="icons-margin">
				<color-pallet class="icons-margin"></color-pallet>
				<img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22" class="icons-margin">
				<img ng-src="images/archive.svg" ng-click="doArchived(note,true,false)" class="icons-margin"> 
				<more-options></more-options>
			</div>
			<span ng-init="checkUrl(note)">
			<div ng-repeat="urlData in note.link">
			<div ng-if="urlData.title"  >
			
			<a ng-href="{{urlData.url}}" target="_blank">
			<div class="row" style="background-color:#E5E5E5; margin-right:0px;  margin-left:0px; border:1px solid grey">
			<div class="col-sm-4" style="padding: 0px">
			<img ng-src="{{urlData.imageUrl}}" height="70" width="80">
			</div>
			<div class="col-sm-8"  >
			<div ng-bind="urlData.title"></div>
			<div ng-bind="urlData.domain" style="font-size: 10px; color:black;"></div>
			</div>
			</div>
			</a>
			</div>
			</div>
			</span>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
	</div>

</div>
					