	<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>
<div id="main" style="margin-left: {{mleft}}" >

	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			
			<div ng-repeat="note in notes | labelFilter:currentlabel " id="note-scope"
				class="{{viewcol}}">
				
				<div class="card" style="background-color: {{note.color}}">
				<img class="pull-right" src="images/unpinned.svg"  ng-click="pinned(note,true)" width="22" height="22">
					<div class="card-block" ng-click="showModal(note)">
					
				<div ng-if="note.image"><img ng-src="{{note.image}}" height="100%" width="100%"></div>
						<b><div class="card-title" ng-bind-html="note.title"></div></b>
						<div class="card-text" ng-bind-html="note.body"></div>
					</div>
					<div class="row ">
					<div class="col-sm-12 labelbox">
					<div id="reminder" ng-if="note.reminderStatus!=null">
					{{note.reminderStatus}}<span class="closebtn" ng-click="removeReminder(note)">&#x274C;</span>
					 
					</div>  
					<div ng-repeat="label in note.labels">
						<div id="reminder" ng-if="label.labelName!=null">
					{{label.labelName}}<span class="closebtn" ng-click="toggleLabelOfNote(note,label)">&#x274C;</span>
					 </div>
					</div>  
					</div>
					</div>
					<div class="row" ng-init="getUserlist(note,user,$index)">
						<div ng-repeat="user in note.collabratorUsers">
								<div class="col-sm-1">
									<img ng-src="{{user.profileUrl}}" title="{{user.email}}" ng-click="openCollboarate(note,user)" class="img-circle" height="25" width="25"/>
								</div>
							</div>
						</div>

		<input ng-show="false" id="image" type='file' ng-model-instant 
		ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />					
		<div class="note-icons">
						
						 <img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
						<img ng-src="images/archive.svg" ng-click="doArchived(note,true,false)"> 
						<div class="dropup inline">
						<span class="dropdown-toggle"  data-toggle="dropdown">
										<img alt="reminder" ng-src="images/reminder.svg" width="22" height="22">
									</span>
									
									<ul class="dropdown-menu" role="menu" >
									<li><input type="text" ng-attr-id="datepicker{{note.noteId}}" class="reminder" ng-click="openReminder(note)"></li>
									<li><button ng-click="openReminder(note)"><span  class="glyphicon glyphicon-calendar"></span></button></li>
									</ul>
									</div>
						<div class="dropup inline " >
					    <img ng-src="images/colorpallet.svg" data-toggle="dropdown" width="22" height="22">
					    <ul class="dropdown-menu dropdown-color" >
								<li style="background-color:{{color.color}}" class="color-dropdown-item col-xs-2 " ng-repeat="color in colors"
                                           title="{{color.tooltip}}"    ng-click="changeColor(note,color.color)"></li>
							</ul>
					  </div>
					  
						<img ng-src="images/collaborator.svg" ng-click="openCollboarate(note,user,$index)">
						<div class="dropdown inline pull-right">
							<img ng-src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu  multi-level"  role="menu" aria-labelledby="dropdownMenu">
								<li><a  ng-click="deleteNote(note)">Delete</a></li>
								<li><a  ng-click="makeCopy(note)">Make a copy</a></li>
								<li><a  ng-click="socialShare(note)">Share</a></li>
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a   tabindex="-1">Label</a>
									<ul class="dropdown-menu">
									
									<li ng-repeat="label in user.labels">
										<input type="checkbox" ng-click="toggleLabelOfNote(note,label)" ng-checked="checked(note,label)">{{label.labelName}}
									</li>
									</ul>
									
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm"></div>
	</div>
</div>