
<div class="Container">
<h3>Sign up</h3>
	<div class="row">
			<div class="col-sm-12">
	<form name="myForm"  onsubmit="return formValidate()">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group" >
							<label for="email">Email:</label>
							<input type="email" name="email" Placeholder="Enter Email"
								ng-model="user.email" class="form-control" id="inputField" required>
							
						</div>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="col-sm-12 ">
							<div class="form-group">
							<label for="name">Name:</label>
								<input type="text" name="username" Placeholder="Enter Username"
									ng-model="user.fullName" id="inputField" class="form-control" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
						<label for="pwd">Password:</label>
							<input type="password" name="password" Placeholder="Enter password"
								ng-model="user.password"id="inputField" class="form-control" required>
							<font color="red"><span id="pwderr" ></span></font>	
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
						<label for="no">Mobile No:</label>
							<input type="number" name="mobileno" Placeholder="Mobile Number" 
								ng-model="user.contactNo" id="inputField"   class="form-control" required>
								<font color="red"><span id="noerr" ></span></font>	
						</div>
					</div>
				</div>
			
			<input type="submit" value="Sign Up" class="btn btn-success" ng-click="registerUser()" >
				<a href="#!/login">
			<input type="button"  class="btn btn-danger" value="Cancel">
				</a>
	</form>

	</div>
	</div>
	</div>
	