	<div ng-controller="homeController">
	<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>
<div id="main" style="margin-left: {{mleft}}"  >
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<!-- 			<div class="row">
 -->
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<div ng-repeat="note in notes | filter : {trashed : false,archived:false}" id="note-scope" ng-if="note.reminderStatus!=null"
				 class="{{viewcol}}">

				<div class="card" >
				
					<div class="card-block" ng-click="showModal(note)">
					<img class="pull-right" src="images/unpinned.svg" ng-click="doArchived(note,false,true)" width="20" height="20">
						<b><div class="card-title" ng-bind-html="note.title"></div></b>
						<div class="card-text" ng-bind-html="note.body"></div>
					</div>
					<div>{{note.reminderStatus}}</div>
							<div class="note-icons">
						<img ng-src="images/archive.png" ng-click="doArchived(note,false,false)" data-toggle="tooltip" 
						data-placement="bottom" title="Unarchived"> <img
							ng-src="images/reminder.png"> <img ng-src="images/colors.png">
						<img ng-src="images/collaborator.svg">
						<div class="dropdown inline pull-right">
							<img ng-src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a ng-click="deleteNote(note)">Delete</a></li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>