<div class="Container">
<div class="row">
		<div class="col-sm-12">
			<h3>Enter email</h3>

		</div>
		<form>
	<div class="form-group">
		
					<font color="red"><p ng-bind="error"></p></font>
				</div>
				<label for="email">New Password:</label> <input class="form-control"
					id="inputField" type="password" ng-model="user.password" name="password"
					Placeholder="Enter new password" required>
			
			<br>
			<label for="email">Confirm Password:</label> <input class="form-control"
					id="inputField" type="password" ng-model="password" name="email"
					Placeholder="Confirm password" required>
			
			<div class="btn-center">
			<div class="col-sm-4">
				<button type="submit" class="btn btn-success" ng-click="resetpassword()">Submit</button>
			</div>
		
		</div>
		</form>
</div>
</div>