<nav class="navbar navbar-default navbar-fixed-top" style="background-color:{{navColor}}" class="col-sm-12 col md-12 col-lg-12">




		
		<div class=" nav navbar-nav col-sm-2 col-xs-2 col-lg-1 col-md-2" id="sidebarbtn">
			<!--  //<a href="#!/home"   > -->
			<span   style="cursor: pointer" class="hidden-sm hidden-xs"
				ng-click="showSidebar(true)">&#9776;</span>
			<span   style="cursor: pointer" class="hidden-lg hidden-md"
				ng-click="showSidebar(false)">&#9776;</span>
			<!--  </a> -->
		</div>

		<div class="col-sm-8 col md-3 col-lg-3 col-xs-8">

			<div class="navbar-header">
				<a class="navbar-brand" href="#!/home"><font color="black"
					size="5">{{navBrand}}</font></a>
			</div>

			<!-- <button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> -->


		</div>
		<a ui-sref="search">
		<div class="col-lg-1 hidden-sm hidden-xs hidden-md" id="searchbtn">

			<span class="glyphicon glyphicon-search" style="font-size: '25px'"></span>
		</div>

		<div class="col-lg-3 hidden-sm hidden-xs hidden-md">
		
			<input type="text" id="searchbox" placeholder="search"
				class="nav navbar-nav " ng-model="searchText">
		</div></a>

<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />					<div class="note-icons">


		<div  class="hidden-sm hidden-xs">
			<ul class="nav navbar-nav navbar-right">
			<li><div class="col-lg-2 col-md-2 col-sm-2 " >
			<img ng-src="{{viewImage}}" width="30" height="30" ng-click="changeview()" class="profile-pic">
			</div></li>
				<div class="col-lg-2 col-md-2 col-sm-2 ">
					<li class="dropdown ">
					 <img ng-src={{user.profileUrl}}
							class="img-circle profile-pic dropdown-toggle" data-toggle="dropdown"
							alt=""{{user.fullName.charAt(0)}}"" >
					</a>
						<ul class="dropdown-menu profile-dropdown">
						<div class="row">
						     <img ng-src={{user.profileUrl}}
							class="img-circle col-sm-4" alt="{{user.fullName.charAt(0)}}" width="100" height="100"  ng-click="openImageUploader(user,'user')">
							<div class="col-sm-6">
							<font size="5px"><b>{{user.fullName}}</b></font>
							{{user.email}}
						</div>
						<div class="col-sm-1"></div>
						</div>
							<li role="separator" class="divider"></li>
							<li><a href="#!/home" ng-click="signout()">Sign out</a></li>

						</ul>
						</li>
				</div>
			</ul>

		</div>

	
	</div>

</nav>