
/* a{
 margin-right: 15px;
} */

#note{
	padding:10px;
	margin-bottom:20px;
	background-color: white;
	box-shadow: 0px 1px 2px black;
	
/* 	margin-left: 20%; */
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
/* #note > *:focus{
	visibility:visible;
	display:block;
	outline: none;
} */
/* #note > .note-icons{
	display:none;
	}
 */

#note-body:focus  {

	outline: none;
}
/* #note-title{
	display:none;
} */
#note-body,#note-title{
	padding: 5px;
}
#note-title:focus{

	outline: none;
}

.note-icons > img{

	height: 22px;
	width:22px;
	
}
.card-margin{
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 3px;
	
}
.card-title{
	margin-left:10px;
	padding:10px;
	font-size: 19px;
}
.card-text{
	padding:10px;
	margin-left:10px;
	padding-top:1px;
	font-size: 17px;
}
.card  > .note-icons{
		padding :6px;
	visibility: hidden;
}
.card{
	width:100%;
	height: auto;
	background-color: white;
	margin:5px;
	box-shadow: 1px 1px 1px black;
	 word-break: break-word;
}

.card:hover {

	box-shadow: 2px 0px 3px black;
}
.card:hover .note-icons{
	
	visibility:visible;

}


#sidebarbtn{
	font-size: 25px;
	padding:8px;
	
}

#searchbtn{
	top:20px;
	width:1%;
	padding-right: 2px;
}

#searchbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
/* 	padding:5px;
	border-radius: 5px; */
}

.col-sm-1{
	width:3%;
}

.navbar-right{
margin-right: 5px;	
}

.profile-pic{
	height: 40px;
	width:40px;
	margin-top: 6px;
}

.navbar-default{
	padding:7px;
	background:#fb0;
}

.navbar-default input{
	
	padding:3px;
	margin-top:12px;
	width:200px;
}
#note-container{
	
	display: inline-block;
/* 	width:100%;
 */}
 #note-scope{
 
	display: inline-block;

} 

.inline{
	display: inline-block;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

}
.modal {
  text-align: center;
  padding: 0!important;
}
.profile-dropdown{
	padding:5px;
	min-width:350px;
	height: auto;
}


/* .dropdown-color{
	min-width:100px;
	min-height: 100px;
} */
.modal-dialog{
	margin-top: 10%;
}
.color-dropdown-item{
	margin:2px;
	border-radius: 50%;
	width: 10px;
	min-height: 33px;
	border:2px solid Grey;
}
.view{
	/* mrgin:2px; */
	
}
#reminder{
	display:inline;
	margin:1px;
	width:auto;
	background-color: #DADAD9;	
}
#reminder:hover .closebtn{
	visibility: visible;
}
.labelbox{
	display: inline-flex;
}
.closebtn{
	cursor:pointer;
  	visibility:hidden;
  	height: 15px;
  	width:15px;
}
.grid{
	width:280px;
	
}
#labelIcon{
	margin-top:5px;
	height: 30px;
	width:30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
   
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

#del-img{
	  position: absolute;
    margin-top: -20px;
     margin-left: -20px;
}

.icons-margin{
	
	margin-right: 18px;
}
.pinicon{
	position: absolute;
	right: 8px;
	
}


/* @media screen and (max-height: 720px) {
  #searchbtn,.profile-pic,#searchbox {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  
   #note-scope,#note-container,.card{
 	 width:100%;
 	 margin-left:auto;
  } 
 
} */
